<h2>Trip Details</h2>

<div>
  <h3>Location: {{trip.location}}</h3>
  <h4>From: {{trip.travelStartDate}} - To: {{trip.travelEndDate}}</h4>
  <h4>Cost: {{trip.cost}}</h4>

  <br>

  <button><a href="/trips/delete/{{trip._id}}">Delete This Trip</a></button>
</div>